.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 100vw;
    height: 100vh;
}

.container .title {
    width: 100%;
    border-top: 1px solid var(--lightPink);
    border-bottom: 1px solid var(--lightPink);
}
.container .title h1 {
    font-size: 14px;
}

.container .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

}
.container .links div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.container .tools {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  align-items: center;
}
.container .tools div {
    margin: 20px;
}


@media (min-width: 1024px) {
    .container .title h1 {
        font-size: 24px;
    }
    .container .docs h2 {
        font-size: 18px;
    }
    .container .docs a {
        font-size: 24px;
    }
}