.objectives {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-family: 'JetBrains Mono', monospace;
}
.box1 div, .box2 div {
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
}

.box1 p, .box2 p {
  font-size: 12px;
  text-align: center;
  margin: 4vh 7vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 650px) {
    .box1 p, .box2 p {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    .box1 p, .box2 p {
        font-size: 16px;
    }
}
@media (min-width: 1024px) {
    .objectives {
        flex-direction: row;
    }
    .box1 div, .box2 div {
        font-size: 64px;
        width: 50vw;
    }
    .box1 p, .box2 p {
        font-size: 18px;
    }
}
@media (min-width: 1460px) {
    .objectives {
        flex-direction: row;
    }
    .box1 p, .box2 p {
        font-size: 20px;
    }
}